.highscorepage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;  
}

.highscore-header {
margin: 16px 0px 8px 0px;
  display: grid;
  justify-items: center;
  height: 2.3rem;
  font-size: 1.5rem;
  font-weight: 500;
  grid-template-columns: 60px 4fr 2fr 2fr 2fr;
  border-bottom: 2px solid #eee;
  width: 100%;
  column-gap: 3rem;
  .header-text{
    text-transform: capitalize;
  }
}

.highscore-row {
  width: 100%;
  height: 2rem;
  font-size: 1.3rem;  
  justify-items: center;
  display: grid;
  column-gap: 3rem;
  grid-template-columns: 60px 4fr 2fr 2fr 2fr;
}

.highscore-body{
    width: 100%;
    height: 200px;
}

.no-highscore-to-show {
  padding-top: 16px; 
  font-size: 1.4rem;
  font-weight: 500;
}

.other-levels-container{
    display: flex;
    gap: 50px;
    margin-top: 30px;
    height: 40px;
    button{
        background-color: transparent;
        outline: none;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;     
        font-size: 1.5rem;
        font-family: "Edmund";
        cursor: pointer;
        color: #ecc010;
        transition: all 0.2s;
        span{   
            font-size: 2.5rem;  
            color: #ecc010;
        }
    }
    button:hover{
      transform: scale(1.15);
    }
}
