.navbar-container {
  margin: 0 auto;
  display: flex;
  width: 100%; 
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  .logo-container {
    flex: 1;
    height: 70%;
    cursor: pointer;
    img {
      height: 100%;
    }
  }
  .navbar-links {
    flex: 2;
    display: flex;
    justify-content: center;
    gap: 10px;

    h2 {
      font-size: 30px;
      cursor: pointer;
      height: 35px;
    }
    h2:hover {
      border-bottom: 3px solid #ecc010;
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar-container{
    display: none;
  }
}

@media screen and (max-height:480px) and (orientation: landscape){    
  .navbar-container{
    display: none;
  }
}


