.navbar-container {
  margin: 0 auto;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  .logo-container {
    flex: 1;
    height: 70%;
    cursor: pointer;
    img {
      height: 100%;
    }
  }
  .navbar-links ul {
    flex: 2;
    display: flex;
    justify-content: center;
    gap: 10px;

    li {
      list-style: none;
      font-size: 30px;
      cursor: pointer;
      height: 35px;
      color: var(--header-color);
      font-family: "Edmund";
      font-weight: 300;
    }
    li:hover {
      border-bottom: 3px solid #ecc010;
    }
  }
}

.hamburger-menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 20px;
  background: transparent;
  border: none;
  padding: 0;
}

.hamburger-menu span {
  display: block;
  width: 100%;
  height: 3px;
  background: #333;
  transition: all 0.3s ease;
}

.navbar-links.active .hamburger-menu span:first-child {
  transform: translateY(8px) rotate(45deg);
}

.navbar-links.active .hamburger-menu span:nth-child(2) {
  opacity: 0;
}

.navbar-links.active .hamburger-menu span:last-child {
  transform: translateY(-8px) rotate(-45deg);
}

@media screen and (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navbar-container {
    align-items: flex-start;
    padding: 1rem 1rem 1rem 1rem;
    height: 100%;
  }
  .logo-container {
    display: none;
  }

  .navbar-links ul li {
    display: none;
  }

  .navbar-links.active {
    display: flex;
    flex-direction: row;
  }

  .navbar-links.active ul {
    display: flex;
    flex-direction: column;
  }

  .navbar-links.active ul li {
    display: flex;
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  .hamburger-menu {
    margin-right: 1rem;
    margin-bottom: 0.5rem;
  }
}
